@use "../../../sass/abstracts/" as *;

.logo__container--main {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;

  .logo__title {
    display: block;
    font-size: 10vw;
    margin-bottom: -1.7rem;
    margin-left: -1.5rem;
  }

  .logo__image {
    display: none;
  }
}

@media (min-width: $tablet) {
  .logo__container--main {
    .logo__title {
      font-size: 5rem;
      display: block;
      margin-bottom: 0.1rem;
    }
  }
}

@media (min-width: $smallDesktop) {
  .logo__container--main {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    justify-self: center;
    .logo__title {
      font-size: 3rem;
    }
    .logo__image {
      display: block;
    }
  }
}

.logo__title {
  text-align: center;
  font-weight: $fw-normal;

  &::first-letter {
    color: $clr-main;
  }
}

.logo__image {
  width: 40%;
  margin: 0 auto;
}
