@use "../../../sass/abstracts/" as *;

.logo__container {
}

.logo__container--main {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;

  .logo__title {
    display: block;
  }

  .logo__image {
    display: none;
  }
}

.logo__title {
  text-align: center;
  font-weight: $fw-normal;
  margin-bottom: -1.7rem;
  margin-left: -1.5rem;
  &::first-letter {
    color: $clr-main;
  }
}

.logo__image {
  width: 40%;
  margin: 0 auto;
}
