@use "../../../../sass/abstracts/" as *;

$margin-bot: 0.5rem;
.form__control {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;

  & > * {
    margin-bottom: $margin-bot;
  }
  .form__label {
    font-weight: $fw-bold;
    font-size: 18px;
    margin-bottom: calc($margin-bot / 2);
  }
  .form__input {
    max-width: 300px;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    margin-bottom: calc(#{$margin-bot} * 2 + 12px);
    background-color: $clr-gray;
    border: 2px solid transparent;

    &:focus {
      border: 2px solid $clr-main;
      outline: none;
    }
    &:focus-visible {
      border: 2px solid $clr-main;
      outline: none;
    }
  }
  .form__error {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 12px;
  }
}
@media (min-width: $smallDesktop) {
  .form__input {
    width: 350px;
  }
}
