// Main colors

$clr-light-100: #fff;

$clr-main-100: #caf0f8ff;
$clr-main-300: #90e0efff;
$clr-main-500: #00b4d8ff;
$clr-main-700: #0077b6ff;
$clr-main-900: #03045eff;

$clr-dark-800: #222;

// Support colors for cards
$light-pink: #ffadadff;
$deep-champagne: #ffd6a5ff;
$lemon-yellow-crayola: #fdffb6ff;
$tea-green: #caffbfff;
$celeste: #9bf6ffff;
$baby-blue-eyes: #a0c4ffff;
$maximum-blue-purple: #bdb2ffff;
$mauve: #ffc6ffff;
$baby-powder: #fffffcff;
