@use "../abstracts/colors" as *;

@mixin list($theme: #fff) {
  display: block;
  width: min(15rem);
  background-color: $clr-light-100;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;

  box-shadow: 0;
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: inherit;
  }
  &::before {
    filter: blur(1em);
  }
  &::after {
    filter: blur(3em);
    opacity: 0.2;
  }
  .list__header {
    background-color: $theme;
    text-align: center;
    padding: 1em 0em;
    font-weight: 700;
  }
  .list__list {
    list-style: none;
    padding: 1em 2em;
    margin: 0;
    outline: 2px solid $theme;
    outline-offset: -2px;
  }
  .list__element {
    font-size: 1.125rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    & + .list__element {
      margin-top: 0.5em;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 2px;
        width: 100%;
        background-color: $theme;
        margin-top: -0.25em;
        opacity: 0.5;
      }
    }
  }
}
