@use '../abstracts/' as *;

.shoppingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.add__title {
  margin-left: 2rem;
  color: $clr-main-500;
  font-weight: $fw-black;
}
