@use '../abstracts/' as *;

.shoppingList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  margin-bottom: 2rem;
}

.add__title {
  color: $clr-main-500;
  font-weight: $fw-black;
  text-align: center;
  margin-bottom: 2rem;
}
