@use "../../sass/abstracts/" as *;
.main__container {
  position: relative;
}

@media (min-width: $smallDesktop) {
  .main__container {
    // height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
  }
}
