@use "../../../sass/abstracts/" as *;

.shopping__list__container {
  position: relative;
  height: 100%;
  &::after {
    content: "";

    width: 100%;
    height: 2px;

    background: $clr-main;

    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media (min-width: $smallDesktop) {
  .shopping__list__container {
    grid-row: 2/3;
  }
}
