@use "../../sass/abstracts/index" as *;

.layout {
  overflow-x: hidden;
  padding: 1rem 2rem;
  min-height: 100vh;
}
@media (min-width: $tablet) {
  .layout {
    padding: 2rem 4rem;
  }
}
@media (min-width: $smallDesktop) {
  .layout {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1.5rem 6rem;
  }
}

// @media (min-width: 1024px) {
//   .layout {
//     max-width: 1200px;
//     margin: 0 auto;
//   }
// }
