@use "../../../../sass/abstracts/" as *;

.form__image {
  display: none;
}

@media (min-width: $tablet) {
  .form__image {
    display: block;
    grid-row: 2/3;
    grid-column: 1/2;
    align-self: center;
  }
}
@media (min-width: $smallDesktop) {
  .form__image--cart {
    display: none;
  }
}
