@use "../../../../sass/abstracts/" as *;
.hamburger__container {
  cursor: pointer;
  display: block;
  border: none;
  width: 28px;
  height: 28px;
  padding: 0;
  margin-left: auto;
  position: relative;
  overflow-x: hidden;
  background-color: $clr-white;
  z-index: 3;
}

@mixin hamburger-line {
  position: absolute;
  width: 28px;
  left: 0;
}

.hamburger__line {
  width: 100;
  height: 2px;
  background-color: $clr-main;
  transition: all 0.5s ease-in-out;

  &:nth-child(2) {
    transform: translateX(0);
  }

  &:first-of-type {
    @include hamburger-line();
    top: 6px;
  }

  &:last-of-type {
    @include hamburger-line();
    bottom: 6px;
  }
}

.hamburger__container--open > .hamburger__line {
  &:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  &:first-of-type {
    transform: rotate(-45deg);
    top: 13px;
  }

  &:last-of-type {
    transform: rotate(45deg);
    bottom: 13px;
  }
}

@media (min-width: $smallDesktop) {
  .hamburger__container {
    display: none;
  }
}
