@use "../../../sass/abstracts/" as *;

.shopping__section__header {
  display: none;
}
@media (min-width: $smallDesktop) {
  .shopping__section__header {
    display: block;
    font-size: 32px;
    color: $clr-main;
    margin-bottom: 2rem;
    grid-row: 1/2;
  }
}
