@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.btn {
  max-width: 200px;
  align-self: center;
  padding: 0.75em 1.5em;
  border: none;
  background-color: #00b4d8ff;
  color: #fff;
  border-radius: 0.75rem;
  margin: 1em;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}
.btn:hover, .btn:active {
  background-color: #0077b6ff;
}
.btn + .btn {
  margin-left: 1em;
}

.btn--red {
  background-color: #ffadadff;
  color: #555;
}
.btn--red:hover, .btn--red:active {
  color: #fff;
}

.btn--green {
  background-color: #caffbfff;
  color: #555;
}
.btn--green:hover, .btn--green:active {
  color: #fff;
}

.form {
  text-align: center;
  background-color: #fff;
}

.form__control {
  border-radius: 1rem;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
  display: block;
}
.form__control label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: 700;
}
.form__control input {
  border: none;
  padding: 0.5em 1em;
  border: 2px solid #caf0f8ff;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
}
.form__control input:focus {
  border: 2px solid #00b4d8ff;
}

input[type=radio] {
  opacity: 0;
  width: 0;
  position: absolute;
}
input[type=radio]:checked ~ .form__option {
  background-color: #caffbfff;
  outline: 2px solid #00b4d8ff;
}
input[type=radio]:checked ~ .form__option--vegitables {
  background-color: #ffd6a5ff;
  outline: 2px solid #caf0f8ff;
}
input[type=radio]:checked ~ .form__option--fruits {
  background-color: #ffadadff;
  outline: 2px solid #caf0f8ff;
}
input[type=radio]:checked ~ .form__option--drinks {
  background-color: #a0c4ffff;
  outline: 2px solid #caf0f8ff;
}
input[type=radio]:checked ~ .form__option--frozen {
  background-color: #9bf6ffff;
  outline: 2px solid #caf0f8ff;
}
input[type=radio]:checked ~ .form__option--detergents {
  background-color: #ffc6ffff;
  outline: 2px solid #caf0f8ff;
}

.form__control--radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
@media (min-width: 1024px) {
  .form__control--radio {
    justify-content: flex-start;
  }
}
.form__control--radio > * {
  flex: 1 1 100%;
}

.form__radio {
  max-width: 100px;
}

.form__radio .form__option {
  padding: 0.25em;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: 300;
  background-color: #caf0f8ff;
  outline: 2px solid transparent;
  transition: all 0.1s ease-in-out;
}

.list {
  display: block;
  min-width: 12rem;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  isolation: isolate;
}
.list::before, .list::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list::before {
  filter: blur(1em);
}
.list::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list .list__header {
  background-color: #caffbfff;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.list .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #caffbfff;
  outline-offset: -2px;
}
.list .list__element {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.list .list__element + .list__element {
  margin-top: 0.5em;
}
.list .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #caffbfff;
  margin-top: -0.25em;
  opacity: 0.5;
}
.list .list__remove :hover {
  color: red;
}

.list--vegitables {
  display: block;
  min-width: 12rem;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  isolation: isolate;
}
.list--vegitables::before, .list--vegitables::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--vegitables::before {
  filter: blur(1em);
}
.list--vegitables::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--vegitables .list__header {
  background-color: #ffd6a5ff;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.list--vegitables .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #ffd6a5ff;
  outline-offset: -2px;
}
.list--vegitables .list__element {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.list--vegitables .list__element + .list__element {
  margin-top: 0.5em;
}
.list--vegitables .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #ffd6a5ff;
  margin-top: -0.25em;
  opacity: 0.5;
}
.list--vegitables .list__remove :hover {
  color: red;
}

.list--fruts {
  display: block;
  min-width: 12rem;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  isolation: isolate;
}
.list--fruts::before, .list--fruts::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--fruts::before {
  filter: blur(1em);
}
.list--fruts::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--fruts .list__header {
  background-color: #ffadadff;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.list--fruts .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #ffadadff;
  outline-offset: -2px;
}
.list--fruts .list__element {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.list--fruts .list__element + .list__element {
  margin-top: 0.5em;
}
.list--fruts .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #ffadadff;
  margin-top: -0.25em;
  opacity: 0.5;
}
.list--fruts .list__remove :hover {
  color: red;
}

.list--drinks {
  display: block;
  min-width: 12rem;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  isolation: isolate;
}
.list--drinks::before, .list--drinks::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--drinks::before {
  filter: blur(1em);
}
.list--drinks::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--drinks .list__header {
  background-color: #a0c4ffff;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.list--drinks .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #a0c4ffff;
  outline-offset: -2px;
}
.list--drinks .list__element {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.list--drinks .list__element + .list__element {
  margin-top: 0.5em;
}
.list--drinks .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #a0c4ffff;
  margin-top: -0.25em;
  opacity: 0.5;
}
.list--drinks .list__remove :hover {
  color: red;
}

.list--frozen {
  display: block;
  min-width: 12rem;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  isolation: isolate;
}
.list--frozen::before, .list--frozen::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--frozen::before {
  filter: blur(1em);
}
.list--frozen::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--frozen .list__header {
  background-color: #9bf6ffff;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.list--frozen .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #9bf6ffff;
  outline-offset: -2px;
}
.list--frozen .list__element {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.list--frozen .list__element + .list__element {
  margin-top: 0.5em;
}
.list--frozen .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #9bf6ffff;
  margin-top: -0.25em;
  opacity: 0.5;
}
.list--frozen .list__remove :hover {
  color: red;
}

.list--detergents {
  display: block;
  min-width: 12rem;
  background-color: #fff;
  margin-bottom: 2rem;
  position: relative;
  isolation: isolate;
}
.list--detergents::before, .list--detergents::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--detergents::before {
  filter: blur(1em);
}
.list--detergents::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--detergents .list__header {
  background-color: #ffc6ffff;
  border-radius: 0.5em 0.5em 0 0;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.list--detergents .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #ffc6ffff;
  outline-offset: -2px;
}
.list--detergents .list__element {
  font-size: 1rem;
  font-weight: 300;
  position: relative;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}
.list--detergents .list__element + .list__element {
  margin-top: 0.5em;
}
.list--detergents .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #ffc6ffff;
  margin-top: -0.25em;
  opacity: 0.5;
}
.list--detergents .list__remove :hover {
  color: red;
}

.submitList__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  position: relative;
  height: 400px;
  width: 300px;
  background-color: #fff;
  opacity: 0.9;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 #888;
}
.paper::before {
  content: "";
  position: absolute;
  left: 45px;
  height: 100%;
  width: 2px;
  background-color: rgba(255, 0, 0, 0.4);
}

.paper__lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.paper__text {
  position: absolute;
  top: 25px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  overflow: hidden;
  outline: none;
  font-family: "Indie Flower", cursive;
}

.paper__header {
  text-transform: capitalize;
}

.paper__list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}

.paper__item--taken {
  text-decoration: line-through;
  text-decoration-color: red;
}

.nav {
  position: relative;
  display: block;
  overflow-x: hidden;
}

.hamburger {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 0.5em;
  right: 2rem;
  cursor: pointer;
  z-index: 2;
}

.hamburger-line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #222;
}
.nav--open .hamburger-line {
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out;
}
.hamburger-line::after, .hamburger-line::before {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #222;
  content: "";
  left: 0;
}
.hamburger-line::after {
  top: 6px;
}
.nav--open .hamburger-line::after {
  transform: rotate(-90deg);
  top: 0;
}
.hamburger-line::before {
  top: -6px;
}
.nav--open .hamburger-line::before {
  opacity: 0;
}

.nav__list {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  max-width: 250px;
  height: 100vh;
  background-color: #a3a5ae;
  transform: translateX(100%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.nav--open .nav__list {
  transform: translateX(0);
}

.nav__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.nav__list:first-of-type {
  padding: 3rem;
}

.nav__element {
  font-size: 1.25em;
}

.header {
  margin: 0 2rem;
  width: calc(100%-2rem);
  padding: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.shoppingList {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}

.add__title {
  color: #00b4d8ff;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 1024px) {
  .layout {
    max-width: 1200px;
    margin: 0 auto;
  }
}
