*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #caf0f8ff;
  margin-top: 5rem;
}

.btn {
  max-width: 250px;
  align-self: center;
  padding: 1em 3em;
  border: none;
  border-radius: 0.75rem;
  outline: 2px solid #0077b6ff;
  font-size: 1rem;
  font-weight: 700;
}

.form {
  padding: 1em 0;
  border: 2px solid #0077b6ff;
  border-radius: 1rem;
  text-align: center;
  background-color: #fff;
}

.form__control {
  margin: 2em 0;
  padding: 0 2em;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  text-align: start;
}
.form__control > * {
  flex: 1 1 50%;
}
.form__control input {
  width: 50%;
  border: none;
  border-bottom: 2px solid #00b4d8ff;
}
.form__control input:focus, .form__control input:focus-visible {
  outline: 2px solid #03045eff;
  border-bottom: 2px solid transparent;
}
.form__control select {
  border: none;
  border-bottom: 2px solid #00b4d8ff;
}
.form__control select:focus, .form__control select:focus-visible {
  outline: 2px solid #03045eff;
  border-bottom: 2px solid transparent;
}
.form__control select option {
  border: 2px solid #00b4d8ff;
  background-color: #00b4d8ff;
}

.form__submit {
  width: 100%;
}

.list {
  display: block;
  width: min(15rem);
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;
  box-shadow: 0;
}
.list::before, .list::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list::before {
  filter: blur(1em);
}
.list::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list .list__header {
  background-color: #caffbfff;
  text-align: center;
  padding: 1em 0em;
  font-weight: 700;
}
.list .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #caffbfff;
  outline-offset: -2px;
}
.list .list__element {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list .list__element + .list__element {
  margin-top: 0.5em;
}
.list .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #caffbfff;
  margin-top: -0.25em;
  opacity: 0.5;
}

.list--vegitables {
  display: block;
  width: min(15rem);
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;
  box-shadow: 0;
}
.list--vegitables::before, .list--vegitables::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--vegitables::before {
  filter: blur(1em);
}
.list--vegitables::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--vegitables .list__header {
  background-color: #ffd6a5ff;
  text-align: center;
  padding: 1em 0em;
  font-weight: 700;
}
.list--vegitables .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #ffd6a5ff;
  outline-offset: -2px;
}
.list--vegitables .list__element {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list--vegitables .list__element + .list__element {
  margin-top: 0.5em;
}
.list--vegitables .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #ffd6a5ff;
  margin-top: -0.25em;
  opacity: 0.5;
}

.list--fruts {
  display: block;
  width: min(15rem);
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;
  box-shadow: 0;
}
.list--fruts::before, .list--fruts::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--fruts::before {
  filter: blur(1em);
}
.list--fruts::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--fruts .list__header {
  background-color: #ffadadff;
  text-align: center;
  padding: 1em 0em;
  font-weight: 700;
}
.list--fruts .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #ffadadff;
  outline-offset: -2px;
}
.list--fruts .list__element {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list--fruts .list__element + .list__element {
  margin-top: 0.5em;
}
.list--fruts .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #ffadadff;
  margin-top: -0.25em;
  opacity: 0.5;
}

.list--drinks {
  display: block;
  width: min(15rem);
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;
  box-shadow: 0;
}
.list--drinks::before, .list--drinks::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--drinks::before {
  filter: blur(1em);
}
.list--drinks::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--drinks .list__header {
  background-color: #a0c4ffff;
  text-align: center;
  padding: 1em 0em;
  font-weight: 700;
}
.list--drinks .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #a0c4ffff;
  outline-offset: -2px;
}
.list--drinks .list__element {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list--drinks .list__element + .list__element {
  margin-top: 0.5em;
}
.list--drinks .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #a0c4ffff;
  margin-top: -0.25em;
  opacity: 0.5;
}

.list--frozen {
  display: block;
  width: min(15rem);
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;
  box-shadow: 0;
}
.list--frozen::before, .list--frozen::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--frozen::before {
  filter: blur(1em);
}
.list--frozen::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--frozen .list__header {
  background-color: #9bf6ffff;
  text-align: center;
  padding: 1em 0em;
  font-weight: 700;
}
.list--frozen .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #9bf6ffff;
  outline-offset: -2px;
}
.list--frozen .list__element {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list--frozen .list__element + .list__element {
  margin-top: 0.5em;
}
.list--frozen .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #9bf6ffff;
  margin-top: -0.25em;
  opacity: 0.5;
}

.list--detergents {
  display: block;
  width: min(15rem);
  background-color: #fff;
  margin-bottom: 2em;
  position: relative;
  isolation: isolate;
  box-shadow: 0;
}
.list--detergents::before, .list--detergents::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: inherit;
}
.list--detergents::before {
  filter: blur(1em);
}
.list--detergents::after {
  filter: blur(3em);
  opacity: 0.2;
}
.list--detergents .list__header {
  background-color: #ffc6ffff;
  text-align: center;
  padding: 1em 0em;
  font-weight: 700;
}
.list--detergents .list__list {
  list-style: none;
  padding: 1em 2em;
  margin: 0;
  outline: 2px solid #ffc6ffff;
  outline-offset: -2px;
}
.list--detergents .list__element {
  font-size: 1.125rem;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.list--detergents .list__element + .list__element {
  margin-top: 0.5em;
}
.list--detergents .list__element + .list__element::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: #ffc6ffff;
  margin-top: -0.25em;
  opacity: 0.5;
}

.shoppingList {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
