@use "../abstracts/" as *;

.actionMenu {
  position: absolute;
  top: -1px;
  right: 0;
  width: 200px;
  overflow: hidden;
  transform: translateX(100%);
}

.action__list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 3px solid $clr-main-500;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.actionMenu--active {
  transform: translateX(-100%);
}

.action__element {
  width: 100%;
  display: block;
  padding: 1rem;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: $fw-light;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $clr-main-500;
  }
  &:last-child::after {
    content: none;
  }
}
