@use "../abstracts/" as *;

.btn {
  max-width: 200px;
  align-self: center;
  text-align: center;
  padding: 0.75em 1.5em;
  border: none;
  background-color: $clr-main-500;
  color: $clr-light-100;
  border-radius: 0.75rem;
  font-size: 1rem;
  font-weight: $fw-normal;
  cursor: pointer;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  position: relative;
  &:hover,
  &:active {
    background-color: $clr-main-700;
  }
  & + .btn {
    margin-left: 1em;
  }
}
.btn--secondary {
  background-color: transparent;
  outline: 3px solid $clr-main-500;
  outline-offset: -3px;
  color: #555;
}
.btn--secondary:hover,
.btn--secondary:active {
  outline: initial;
  color: $clr-light-100;
}

.btn--red {
  outline-color: $light-pink;
}
.btn--green {
  outline-color: $tea-green;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  inset: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: $clr-light-100;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}
.button--loading .button__text {
  visibility: hidden;
  opacity: 0;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
