@use "../abstracts/" as *;

.btn {
  max-width: 200px;
  align-self: center;
  padding: 0.75em 1.5em;
  border: none;
  background-color: $clr-main-500;
  color: $clr-light-100;
  border-radius: 0.75rem;
  margin: 1em;
  font-size: 1rem;
  font-weight: $fw-light;
  cursor: pointer;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  &:hover,
  &:active {
    background-color: $clr-main-700;
  }
  & + .btn {
    margin-left: 1em;
  }
}

.btn--red {
  background-color: $light-pink;
  color: #555;
  &:hover,
  &:active {
    color: #fff;
  }
}
.btn--green {
  background-color: $tea-green;
  color: #555;
  &:hover,
  &:active {
    color: #fff;
  }
}
