@use '../abstracts/' as *;

.hamburger {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: fixed;
  top: 0.5em;
  right: 2rem;
  cursor: pointer;
  z-index: 2;
}

@mixin line {
  left: 0;
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: $clr-dark-800;
}

.hamburger-line {
  @include line;
  transition: transform 0.4s ease-in-out;
  &:first-of-type {
    top: 8px;
  }
  &:last-of-type {
    bottom: 8px;
  }
  .nav--open & {
    &:first-child {
      transform: rotate(-45deg) translateY(8px);
    }
    &:last-child {
      transform: rotate(45deg) translateY(-8px);
    }
  }
}
