@use "../abstracts/" as *;

.login__form {
  text-align: center;
  margin-top: 1rem;
  position: relative;

  .form__control {
    padding: 1em 0;
    max-width: 400px;
    position: relative;
    .form__error {
      bottom: -1rem;
      left: 0;
    }
  }
}

.form__error--final {
  position: absolute;
  display: block;
  bottom: -0.25rem;
  width: 100%;
  transform: translateY(-50%);
}
