@use '../abstracts/' as *;

.form {
  text-align: center;
  background-color: $clr-light-100;
}
.form__control {
  border-radius: 1rem;
  padding: 1em 2em;
  width: 100%;
  text-align: start;
  display: block;

  label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: $fw-bold;
  }
  input {
    border: none;
    padding: 0.5em 1em;
    border: 2px solid $clr-main-100;
    border-radius: 0.5rem;
    width: 100%;
    outline: none;
    &:focus {
      border: 2px solid $clr-main-500;
    }
  }
}
// Styling radiobuttons
input[type="radio"] {
  opacity: 0;
  width: 0;
  position: absolute;
  &:checked ~ .form__option {
    background-color: $tea-green;
    outline: 2px solid $clr-main-500;
  }
  &:checked ~ .form__option--vegitables {
    @include checked-radio($theme: $deep-champagne);
  }
  &:checked ~ .form__option--fruits {
    @include checked-radio($theme: $light-pink);
  }
  &:checked ~ .form__option--drinks {
    @include checked-radio($theme: $baby-blue-eyes);
  }
  &:checked ~ .form__option--frozen {
    @include checked-radio($theme: $celeste);
  }
  &:checked ~ .form__option--detergents {
    @include checked-radio($theme: $mauve);
  }
}
.form__control--radio {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
  @media (min-width: 1024px) {
    justify-content: flex-start;
  }
  & > * {
    flex: 1 1 100%;
  }
}
.form__radio {
  max-width: 100px;
}
.form__radio .form__option {
  padding: 0.25em;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: $fw-light;
  background-color: $clr-main-100;
  outline: 2px solid transparent;
  transition: all 0.1s ease-in-out;
}

.form__submit {
  // width: 100%;
}
