@use "../abstracts/" as *;

.header {
  margin: 0 2rem 1rem;
  width: calc(100% - 4rem);
  padding: 1rem 0;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 1024px) {
  .header {
    margin-bottom: 2rem;
  }
}
