@use "../abstracts/" as *;

.nav {
  position: relative;
  display: block;
  overflow-x: hidden;
}

.nav__list {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  max-width: 250px;
  height: 100vh;
  background: linear-gradient($clr-main-100, $clr-main-300);
  transform: translateX(100%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem;
}
.nav--open .nav__list {
  transform: translateX(0);
}

.nav__element {
  font-size: 1.25em;
  &:hover,
  &:active {
    text-decoration: underline;
    text-decoration-color: $clr-main-700;
  }
}

.nav__logout {
  cursor: pointer;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  .nav__list {
    background: $clr-light-100;
    position: relative;
    transform: none;
    flex-flow: row nowrap;
    height: inherit;
    background-color: transparent;
    max-width: unset;
    flex: 1 1 70%;
    &:first-of-type {
      padding: 0;
    }
  }
  .nav__element {
    font-size: 1rem;
    font-weight: $fw-light;
    & + .nav__element {
      margin-left: 2em;
    }
  }
  .nav__element--important {
    font-weight: $fw-normal;
    color: $clr-main-700;
  }
}
