@use '../abstracts/' as *;
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
.paper {
  position: relative;
  height: 100%;
  max-width: 300px;
  background-color: $clr-light-100;
  opacity: 0.9;
  margin: 0 auto;
  box-shadow: 0 0 5px 0 #888;
  padding-bottom: 25px;
  &::before {
    content: "";
    position: absolute;
    left: 45px;
    height: 100%;
    width: 2px;
    background-color: rgba(255, 0, 0, 0.4);
  }
}
.paper__lines {
  margin-top: 40px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(
    white 0px,
    white 24px,
    steelblue 25px
  );
}
.paper__text {
  position: relative;
  top: 25px;
  left: 55px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  overflow: hidden;
  outline: none;
  font-family: "Architects Daughter", cursive;
}

.paper__header {
  text-transform: capitalize;
  font-size: 1.125rem;
}
.paper__list {
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: pointer;
}
.paper__item--taken {
  text-decoration: line-through;
  text-decoration-color: rgba(255, 0, 0);
}
.cardContainer a {
  display: block;
  margin: 1rem auto 0;
}

@media (min-width: 768px) {
  .paper {
    transform: scale(1.2);
  }

  .cardContainer a {
    display: block;
    margin: 3rem auto 0;
  }
}
