@use '../abstracts/' as *;

.submitList__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 60%;
    margin: -1rem auto;
    height: 2px;
    background-color: $clr-main-500;
    opacity: 0.2;
  }
}
