@use '../abstracts/' as *;

.submitList__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 80%;
    margin: 0 auto;
    height: 2px;
    background-color: $clr-main-500;
    opacity: 0.2;
  }
}
